<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenidos a Mercado Liebre</title>

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>


<body>
  <header>
    <div class="top-header">
      <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
      <div class="buscador" action="#" method="GET">
        <input class="barra" type="text" placeholder="Barra de busqueda">
        <button> <i class="fas fa-search"></i></button>

      </div>
    </div>
    <p id="texto"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
    <nav class="menu-contenedor">
      <ul>

        <li><a href="#">Oferta</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul>
        <li><a href="/register">Creá tu cuenta <i class="fas fa-address-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>

    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>

  <section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
  </section>

  <main>
    <section class="visitas">
      <h3>Basado en tu última visita</h3>
      <div class="productos">
        <article>
          <img class="img-article" src="images/img-cafetera-moulinex.jpg"><br>
          <hr>
          <div class="main-article">
            <div><i class="fas -solid fa-truck"></i></div>
            <div class="precio-articulo">
              <p class="price">$6.770</p>
              <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">Cafetera Moulinex</h4>
          </div>
        </article>

        <article>
          <img class="img-article" src="images/img-macbook-pro-2019.jpg"><br>
          <hr>
          <div class="main-article">
            <div><i class="fas -solid fa-truck"></i></div>
            <div class="precio-articulo">
              <p class="price">$230.000</p>
              <p class="discount">20% OFF</p>
            </div>
            <h4 class="description">MacBook Pro 2019</h4>
          </div>
        </article>

        <article>
          <img class="img-article" src="images/img-samsung-galaxy-s10.jpg"><br>
          <hr>
          <div class="main-article">
            <div><i class="fas -solid fa-truck"></i></div>
            <div class="precio-articulo">
              <p class="price">$70.500</p>
              <p class="discount">10% OFF</p>
            </div>
            <h4 class="description">Samsung Galaxy S10</h4>
          </div>
        </article>

        <article>
          <img class="img-article" src="images/img-tv-samsung-smart.jpg"><br>
          <hr>
          <div class="main-article">
            <div><i class="fas -solid fa-truck"></i></div>
            <div class="precio-articulo">
              <p class="price">$23.200</p>
              <p class="discount">5% OFF</p>
            </div>
            <h4 class="description">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </div>
    </section>

    <section class="ofertas">
      <h2>Ofertas</h2>
      <div class="productos">
        <article>
          <img class="img-article" src="images/img-cafetera-moulinex.jpg"><br>
          <hr>
          <div class="main-article">
            <div><i class="fas -solid fa-truck"></i></div>
            <div class="precio-articulo">
              <p class="price">$6.770</p>
              <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">Cafetera Moulinex</h4>
          </div>
        </article>

        <article>
          <img class="img-article" src="images/img-macbook-pro-2019.jpg"><br>
          <hr>
          <div class="main-article">
            <div><i class="fas -solid fa-truck"></i></div>
            <div class="precio-articulo">
              <p class="price">$230.000</p>
              <p class="discount">20% OFF</p>
            </div>
            <h4 class="description">MacBook Pro 2019</h4>
          </div>
        </article>

        <article>
          <img class="img-article" src="images/img-tv-samsung-smart.jpg"><br>
          <hr>
          <div class="main-article">
            <div><i class="fas -solid fa-truck"></i></div>
            <div class="precio-articulo">
              <p class="price">$70.500</p>
              <p class="discount">10% OFF</p>
            </div>
            <h4 class="description">Samsung Galaxy S10</h4>
          </div>
        </article>

        <article>
          <img class="img-article" src="images/img-samsung-galaxy-s10.jpg"><br>
          <hr>
          <div class="main-article">
            <div><i class="fas -solid fa-truck"></i></div>
            <div class="precio-articulo">
              <p class="price">$23.200</p>
              <p class="discount">5% OFF</p>
            </div>
            <h4 class="description">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </div>
    </section>
  </main>

  <footer>
    <ul class="piePagina">
      <li><i id="iconos" class="fas fa-credit-card"></i><br>
        <b>Pagá con tarjeta o en efectivo</b>
        <p>Con Mercado Liebre Cash, tenés cuotas sin<br>
          interés con tarjeta o efectivo en<br>
          puntos de pago.
          ¡Y siempre es seguro!</p>
      </li>

      <li><i id="iconos" class="fas fa-gift"></i><br>
        <b>Envío gratis desde $ 2.500</b>
        <p>Solo por estar registrad@ en Mercado Liebre <br>
          tenés envíos gratis en miles de productos. Es <br>
          un beneficio de Mercado Puntos.</p>
      </li>

      <li><i id="iconos" class="fas -solid fa-user-shield"></i><br>
        <b>Seguridad, de principio a fin</b>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>
          no hay nada que no puedas hacer, porque estás<br>
          siempre protegid@.
        </p>
      </li>

      <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
    </ul>

  </footer>

</body>

</html>