<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/styles.css">
  <title>Mercado Liebre</title>
</head>

<body>
  <header>
    <img src="../public/images/logo-mercado-liebre.svg">
    <p>Lugar para poner la barra</p>
    <p>Compra en cuotas y sin tarjeta de credito</p>

    <nav>
      <ul>
        <a href="https://www.mercadolibre.com.co/ofertas">
          <li> Oferta
        </a></li>
        <a href="https://www.mercadolibre.com.co/tiendas-oficiales">
          <li>Tiendas Oficiales
        </a></li>
        <a href="https://www.mercadolibre.com.co/ayuda/Costos-de-vender-productos_870">
          <li>Vender
        </a></li>
        <a href="https://www.mercadolibre.com.co/ayuda">
          <li>Ayuda
        </a></li>
      </ul>

      <ul>
        <a href="https://vendedores.mercadolibre.com.co/nota/como-crear-una-cuenta-en-mercado-libre/">
          <li>Creá tu cuenta
        </a></li>
        <a href="https://listado.mercadolibre.com.co/ingresar">
          <li>Ingresá
        </a></li>
        <a href="https://listado.mercadolibre.com.co/mis-compras">
          <li>Mis compras
        </a></li>
      </ul>
    </nav>
  </header>
  <section>
    <img src="../public/images/img-home-banner.jpg" alt="">
  </section>

  <main>

    <section>
      <h3>Basado en tu última visita</h3>
      <article>
        <img src="../public/images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% OFF</p>
        <h4>Cafetera Moulinex</h4>
      </article>

      <article>
        <img src="../public/images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% OFF</p>
        <h4>MacBook Pro 2019</h4>
      </article>

      <article>
        <img src="../public/images/img-samsung-galaxy-s10.jpg">
        <p>$70.500</p>
        <p>10% OFF</p>
        <h4>Samsung Galaxy S10</h4>
      </article>

      <article>
        <img src="../public/images/img-tv-samsung-smart.jpg">
        <p>$23.200</p>
        <p>5% OFF</p>
        <h4>SmartTv Samsung 43"</h4>
      </article>
    </section>

    <section>
      <h2>Ofertas</h2>
      <article>
        <img src="../public/images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% OFF</p>
        <h4>Cafetera Moulinex</h4>
      </article>

      <article>
        <img src="../public/images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% OFF</p>
        <h4>MacBook Pro 2019</h4>
      </article>

      <article>
        <img src="../public/images/img-tv-samsung-smart.jpg">
        <p>$70.500</p>
        <p>10% OFF</p>
        <h4>Samsung Galaxy S10</h4>
      </article>

      <article>
        <img src="../public/images/img-samsung-galaxy-s10.jpg">
        <p>$23.200</p>
        <p>5% OFF</p>
        <h4>SmartTv Samsung 43"</h4>
      </article>
    </section>
  </main>

  <footer>
    <ul>
      <li><b>Pagá con tarjeta o en efectivo</b>
        <p>Con Mercado Liebre Cash, tenés cuotas sin<br>
          interés con tarjeta o efectivo en<br>
          puntos de pago.
          ¡Y siempre es seguro!</p>
      </li>

      <li><b>Envío gratis desde $ 2.500</b>
        <p>Solo por estar registrad@ en Mercado Liebre <br>
          tenés envíos gratis en miles de productos. Es <br>
          un beneficio de Mercado Puntos.</p>
      </li>

      <li><b>Seguridad, de principio a fin</b>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>
          no hay nada que no puedas hacer, porque estás<br>
          siempre protegid@.
        </p>
      </li>

      <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
    </ul>

  </footer>

</body>

</html>