<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/register-styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="top-header">
      <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
      <div class="buscador" action="#" method="GET">
        <input class="barra" type="text" placeholder="Barra de busqueda">
        <button> <i class="fas fa-search"></i></button>
        <p id="texto">
          <i class="fas fa-hand-holding-usd">
          </i>Compra en cuotas y sin tarjeta de credito
        </p>
      </div>
    </div>

    <nav class="menu-contenedor">
      <ul>

        <li><a href="#">Oferta</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul>
        <li><a href="/register">Creá tu cuenta <i class="fas fa-address-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>

    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>
  <main class="register">
    <form action="/" method="GET">
      <div class="item-form">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" minlength="3" maxlength="40"
          title="Escriba su nombre completo" required>
      </div>

      <div class="item-form">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario">
      </div>

      <div class="item-form">
        <input type="email" name="email" id="email" placeholder="E-mail">
      </div>

      <div class="item-form">
        <label id="datos-formulario" for="start">Fecha de nacimiento</label><br>
      </div>

      <div class="item-form">
        <input type="date" name="date" id="date" placeholder="Fecha de nacimiento">
      </div>

      <div class="item-form">
        <input type="text" name="nombre" id="nombre" placeholder="Domicilio">
      </div>

      <div class="item-form perfil-usuario">
        <label id="datos-formulario">Perfil del usuario</label><br>
        <input type="radio" name="comprador" id="comprador" value="comprador">
        <label for="comprador">Comprador</label>

        <input type="radio" name="vendedor" id="vendedor" value="vendedor">
        <label for="vendedor">Vendedor</label>
      </div>

      <div class="item-form interes">
        <label id="datos-formulario">Intereses</label><br>
        <input type="checkbox" name="electronico" id="electronico" value="Electro">
        <label for="electro">Electro</label><br>

        <input type="checkbox" name="moda" id="moda" value="Moda">
        <label for="moda">Moda</label><br>

        <input type="checkbox" name="hogar" id="hogar" value="Hogar">
        <label for="hogar">Hogar</label><br>

        <input type="checkbox" name="jugueteria" id="jugueteria" value="Jugueteria">
        <label for="Jugueteria">Jugueteria</label><br>

        <input type="checkbox" name="vida sana" id="vida sana" value="Vida sana">
        <label for="vida sana">Vida sana</label><br>

      </div>

      <div class="item-form">
        <label id="datos-formulario">Seleccionar una imagen de perfil:</label><br>
        <input type="file" name="fotoPerfil" accept=".jpg">
      </div>
      <div class="item-form">
        <input type="password" name="contrasena" id="contrasena" placeholder="contraseña">
      </div>
      <div class="item-form">
        <input type="password" name="confirnacionContrasena" id="confirmacionContrasena"
          placeholder="confirmar contraseña">
      </div>
      <div class="item-form">
        <a href="/"><button class="boton-enviar" type="submit">Enviar</button></a>
      </div>

      <div>
        <button class="boton-borrar" type="reset">Borrar</button>
      </div>
    </form>
  </main>
  <footer>
    <div class="footer-container">
      <div class="footer-item">
        <i id="iconos" class="fas fa-credit-card"></i><br>
        <b>Pagá con tarjeta o en efectivo</b>
        <p>Con Mercado Liebre Cash, tenés cuotas sin<br>
          interés con tarjeta o efectivo en<br>
          puntos de pago.
          ¡Y siempre es seguro!</p>
      </div>

      <div class="footer-item">
        <i id="iconos" class="fas fa-gift"></i><br>
        <b>Envío gratis desde $ 2.500</b>
        <p>Solo por estar registrad@ en Mercado Liebre <br>
          tenés envíos gratis en miles de productos. Es <br>
          un beneficio de Mercado Puntos.</p>
      </div>

      <div class="footer-item">
        <i id="iconos" class="fas -solid fa-user-shield"></i><br>
        <b>Seguridad, de principio a fin</b>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>
          no hay nada que no puedas hacer, porque estás<br>
          siempre protegid@.
        </p>
      </div>
    </div>

    <div>
      <h4> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </div>
  </footer>
</body>

</html>