<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="formulario">
    <form action="/" method="GET">
      <p>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
      </p>

      <p>

        <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario">
      </p>

      <p>

        <input type="email" name="email" id="email" placeholder="E-mail">
      </p>

      <p>
        <label for="start">Fecha de nacimiento</label><br>
        <input type="date" name="date" id="date" placeholder="Fecha de nacimiento">
      </p>

      <p>

        <input type="text" name="nombre" id="nombre" placeholder="Domicilio">
      </p>


      <div class="perfil-usuario">
        <label>Perfil del usuario</label><br>
        <input type="radio" name="comprador" id="comprador" value="comprador">
        <label for="comprador">Comprador</label>

        <input type="radio" name="vendedor" id="vendedor" value="vendedor">
        <label for="vendedor">Vendedor</label>
      </div><br>

      <div class="interes">
        <label>Intereses</label><br>
        <input type="checkbox" name="electronico" id="electronico" value="Electro">
        <label for="electro">Electro</label><br>

        <input type="checkbox" name="moda" id="moda" value="Moda">
        <label for="moda">Moda</label><br>

        <input type="checkbox" name="hogar" id="hogar" value="Hogar">
        <label for="hogar">Hogar</label><br>

        <input type="checkbox" name="jugueteria" id="jugueteria" value="Jugueteria">
        <label for="Jugueteria">Jugueteria</label><br>

        <input type="checkbox" name="vida sana" id="vida sana" value="Vida sana">
        <label for="vida sana">Vida sana</label><br>

      </div>

      <div>
        <label>Seleccionar una imagen de perfil:</label><br>
        <input type="file" name="fotoPerfil" accept=".jpg">
      </div>
      <div>
        <label for="contrasena">Contraseña</label>
        <input type="password" name="contrasena" id="contrasena">
        <label for="confirmacionContrasena">Confirma tu contraseña</label>
        <input type="password" name="confirnacionContrasena" id="confirmacionContrasena">
      </div>
      <div>
        <a href="/"><button type="submit">Enviar</button></a>
      </div>

      <div>
        <button type="reset">Borrar todos los datos</button>
      </div>






    </form>
  </div>

</body>

</html>