* {
  font-family: "Roboto", sans-serif;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
a {
  color: white;
}
.login {
  background: #ebebeb;
  position: relative;
  width: 100%;
  height: 680px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.item-login {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.item-login input:focus {
  outline: 0 none;
  border: 3px solid blue;
}

input[type="text"],
input[type="password"] {
  width: 50%;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  padding: 0 0 0 15px;
}
.boton-login {
  border-radius: 0.25rem;
  background-color: #007bff;
  color: white;
  transition: background-color 0.15s ease-in-out, top 0.15s ease-in-out;
  width: 50%;
  height: 35px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  cursor: pointer;
}
.boton-login:hover,
.boton-login:focus {
  background-color: #0022aa;
}
h2 {
  text-align: center;
}
