*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  
}
div.top-header{
  padding: 5%;
}

header{
  background-color: #EAC926;
}
header div.logo{
  width: 50%;
  padding: 10px;
}
header nav{
  font-size: 12px;
}
header ul li{
  list-style-type: none;
}
header ul li a{
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
section.banner img{
  width: 100%;
}
.precio-articulo{
  display: flex;
}
.precio-articulo .price { 
   flex-grow: 0.3;
}
.precio-articulo .discount { 
  flex-grow: 0.7;
}
#texto{
  text-align: center;
}
.burger-menu{
   color: white;
   background-color: blue;
   margin: 0 auto;
   width: fit-content;
   border-radius: 5px;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   
}
.piePagina{
  text-align: center;
}
#iconos{
  font-size: 2em;
  margin-bottom: 10px;
  color: blue;
  
}
main {
  width: 90%;
  margin: 0 auto;

}
main section article{
  background-color: #fff;
  margin: 10px 0px;
}
main section article img{
   width: 100%;
}
/*article{
  width: 300px;
  height: 470px;
  background-color: gray;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin:0 auto;
}*/
main section article i, .discount{
  color: #39b54a;
}
article div.main-article{
  width: 100%;
  border-top: 2px solid #ebebeb;
  padding: 15px;
  position: relative;
}
main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
.productos{
  display: flex;
  flex-wrap: wrap;
}
.productos > article{
  margin: 25px;
}

article {
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 0px 1px 18px 3px rgba(92,90,92,1);
-moz-box-shadow: 0px 1px 18px 3px rgba(92,90,92,1);
box-shadow: 0px 1px 18px 3px rgba(92,90,92,1);
}

.img-article{
  width: 200px;
  height: 250px;
}

h4{
  padding: 0;
  margin: 0;
}
h3, h2{
  text-align: center;
}


#envio{
  position: absolute;
  padding-left: 5px;
  padding-top: 8px;
  color: green;
}


/*
  Media Queries
*/

/*Para celulares*/
@media (max-width: 768px){
  main section article .description{
      display: block;
  }

  /*Para tablet falta*/
  main section article{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .productos{
    flex-direction: column;

  }
}

@media (min-width: 769px){

}
