* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Scroll Personalizado */
body::-webkit-scrollbar {
  width: 10px;
  background: #03264c;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border-right: 2px solid #03264c;
}
/*Body*/
body {
  background-color: rgba(235, 235, 235, 255);
}

.top-header {
  display: flex;
}

header {
  background-color: #eac926;
}
.logo {
  width: 50%;
  padding: 10px;
}
.buscador {
  display: flex;
  width: 50%;
  padding-top: 50px;
}
.buscador #texto {
  padding-left: 20px;
}
.buscador button {
  width: 35px;
  height: 35px;
}
.barra {
  width: 50%;
  height: 35px;
  border-radius: 5px;
  padding: 0 0 0 15px;
}
.barra:focus {
  outline: 0 none;
  border: 3px solid blue;
}

.menu-contenedor {
  display: none !important;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.menu-contenedor ul {
  display: flex;
}
.menu-contenedor ul li:hover {
  font-weight: bold;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
section.banner img {
  width: 100%;
}
.precio-articulo {
  display: flex;
}
.precio-articulo .price {
  flex-grow: 0.3;
}
.precio-articulo .discount {
  flex-grow: 0.7;
}

#texto {
  text-align: center;
}
.burger-menu {
  display: block;
  color: white;
  background-color: #03264c;
  margin: 0 auto;
  width: fit-content;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.burger-menu i {
  color: white;
}

/*Main section article*/
main {
  width: 90%;
  margin: 0 auto;
}
main section article {
  background-color: #fff;
  margin: 10px 0px;
}
main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}
i {
  color: #03264c;
}
article div.main-article {
  width: 100%;
  border-top: 2px solid #ebebeb;
  padding: 15px;
  position: relative;
}
article:hover .description {
  visibility: visible;
}

.description {
  margin-top: 5px;
  visibility: hidden;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
a {
  font-size: 20px;
}
.main-article i:hover {
  transform: rotate(-90deg);
}
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productos > article {
  margin: 20px;
}
article:hover {
  -webkit-box-shadow: 0px 2px 5px 8px rgba(143, 141, 143, 1);
  -moz-box-shadow: 0px 2px 5px 8px rgba(143, 141, 143, 1);
  box-shadow: 0px 2px 5px 8px rgba(143, 141, 143, 1);
  transform: scale(1.5);
  z-index: 8;
  cursor: pointer;
}

article {
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 18px 3px rgba(191, 191, 191, 255);
  -moz-box-shadow: 0px 1px 18px 3px rgba(191, 191, 191, 255);
  box-shadow: 0px 1px 18px 3px rgba(191, 191, 191, 255);
  transition: transform 0.2s;
}

.img-article {
  width: 230px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

h4 {
  padding: 0;
  margin: 0;
}
h3,
h2 {
  text-align: center;
}
.compras-cuotas {
  text-align: center;
}
/*Footer*/
footer {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.footer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.footer-container > .footer-item {
  margin: 20px;
}
.footer-item {
  display: block;
}
#iconos {
  font-size: 2em;
  margin-bottom: 10px;
  color: blue;
}
#iconos:hover {
  color: #8c9bfa;
  cursor: pointer;
}
.piePagina {
  display: flex;
  justify-content: center;
}

/*
  Media Queries
*/

/*Para celulares*/
@media (max-width: 768px) {
  main section article .description {
    display: block;
  }

  /*Para tablet falta*/
  @media only screen and (min-width: 768px) {
    main section article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  }
  .productos {
    flex-direction: column;
  }
  .buscador {
    display: block;
  }
  .buscador #texto {
    position: relative;
    top: 15px;
    right: 167px;
    width: 329px;
  }
  .burger-menu {
    margin-top: 20px;
  }
  header ul li a {
    margin-right: 8px;
  }
}

/* / Medium devices (landscape tablets, 768px and up) / */
@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .menu-contenedor {
    display: flex !important;
  }
  header ul li a {
    margin-right: 8px;
  }
}

/* / Large devices (laptops/desktops, 992px and up) / */
@media only screen and (min-width: 992px) {
  header ul li a {
    margin: 10px;
  }
}
